<!-- Header -->
<%- include('partials/_header') -%>
<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">

            <!-- Navigation -->
            <%- include('partials/_navigation') -%>

			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-1">
				<div class="text-center">
					<p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 text-white mx-auto">Background image can be fixed. Content will simply slide over.</p>                	
				</div>                
            </div>

			<!-- Header image -->
            <div id="tm-fixed-header-bg"></div> 
		</div>

		<!-- Page content -->
		<div class="container-fluid">
			<div class="mx-auto tm-content-container">
				<main>
					<div class="row mb-5 pb-4">
						<div class="col-12">
							<img src="img/video-detail-1.jpg" alt="Image" class="img-fluid tm-catalog-item-img">
						</div>
					</div>
					<div class="row mb-5 pb-5">
						<div class="col-xl-8 col-lg-7">
							<!-- Video description -->
							<div class="tm-video-description-box">
								<h2 class="mb-5 tm-video-title"><%= photo.title %></h2>
								<p class="mb-4"><%= photo.decription %></p>	
							</div>							
						</div>
						<div class="col-xl-4 col-lg-5">
							<!-- Share box -->
							<div class="tm-bg-gray tm-share-box">
								<div class="text-center">
									<button class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"><span>Update Details</span></button>	
								</div>	
								<div class="text-center">
									<button class="btn btn-danger p-0 tm-btn-animate tm-btn-download tm-icon-download"><span>Delete Photo</span></button>	
								</div>								
							</div>
						</div>
					</div>
				</main>
                <%- include('partials/_footer') -%>


</body>
</html>